body {
    font-family: "Quicksand";
    background-color: #373e48;
}

h1 {
    color: white;
    text-align: center;
}

span {
    text-align: center;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
    width: 30%;
    background: purple;
    float: left;
    padding-bottom: 30%;
    margin: 1.66%;
    border: 5%;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

#stripe>span {
    color: black;
}

.selected {
    background-color: skyblue;
}